<!--<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>-->
<li><a href="<%- theme.root %>docs/" class="nav-link<%- page.path.match(/docs/) ? ' current' : '' %>">Document</a></li>
<li><a href="<%- theme.root %>webpack/" class="nav-link<%- page.path.match(/webpack/) ? ' current' : '' %>">Webpack</a></li>
<li><a href="<%- theme.root %>express/" class="nav-link<%- page.path.match(/express/) ? ' current' : '' %>">Express</a></li>
<li><a href="<%- theme.root %>koa/" class="nav-link<%- page.path.match(/koa/) ? ' current' : '' %>">Koa</a></li>
<!--<%- partial('partials/language_dropdown') %>-->
